

article.quem h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
article.quem p{
    font-family: Arial;
    font-size: 17px;    
}
article.destaques{
    width: 10%;
}

article.contato{
    text-align: center;
    margin-top: 60px;
}

article figure.sede{
    position: relative;
    width: 100%;
    height: 100%; 
}

article figure.sede img{
    border: 7px solid white;
    box-shadow: 1px 1px 4px black;
    position: absolute;
    //margin: 100px;
    margin: -400px auto auto 280px;
}
figure.sede figcaption{
    opacity: 0;
    position: absolute;
    margin: -400px auto auto 280px;
    width: 42%;
    padding-bottom: 199px;
    background-color: rgba(0, 0, 0, .4);
    box-sizing: border-box;
    transition: opacity 1s;
    color: white;
}
figure.sede:hover figcaption{
     opacity: 1;
}
figure.sede p{
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 2%;
    margin-top: 4%;
    text-decoration: none;
}

article.trabalhe h2{
    text-align: center;
}
article table{
    background-color: #dddd60;
    border: 7px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
    right: -55px;
    top: 20px;
    text-align: center;
}
article table td{
    border: 7px solid white;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    
}
article table th{
    font-size: large;
    font-weight: bold;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}
article table td a {
    color: white;
    text-decoration: none;
}
article.news#dinamico p{
    text-align: justify;
    padding: 500px;;
}
section#dinamico{
    height: 450px;
    background-color: white;
    padding:10px; 
}



